<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <ConfigurationSettings>
        <Setting name="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=hwreconcilerstorage;AccountKey=fP/17Na/qhoP/8wD3it4kOXKt9E0JGE798FcDT5Lg96HVakf8Wlf+iWswGEIfRpbySMc/J5YauhPJjCcdLtTkw==" />
        <Setting name="Microsoft.KeyVault.Url" value="https://AssetReconKeyVault.vault.azure.net" />
        <Setting name="ConfigStoreConnectionStringName" value="ARStorageConnectionString" />
        <Setting name="ConfigStoreClientId" value="{6EFDF961-E8CF-4329-A049-ED9918CC32F0}" />
        <!--<Setting name="Microsoft.WindowsAzure.Plugins.GSAA.SubscriptionID" value="20ecae7c-600f-451d-b3fb-092fe8c96a6e" />-->
        <!-- CMA Configuration Settings -->
        <Setting name="MDMAccount" value="MCIOCommon" />
        <Setting name="MDMNamespace" value="AssetReconciliation" />
        <Setting name="CMAMonitoringConfiguration" value="Monitoring\MAConfig.xml" />
        <Setting name="CMATenantName" value="AssetReconciliation" />
        <Setting name="DomainName" value="Cloud" />
    </ConfigurationSettings>
</configuration>